body{
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")repeat center center;
  background-size: cover;
  position: relative;
  padding-bottom: 6rem;
}

html,
header,
.view {
  height: 100%;
}

.index-land{
  padding-top:100px;
}

.content-footer{
  color: white;
}

.post{
  margin-bottom:10px;
}

.post h3{
  width:100px;
  margin:auto;
}
